<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
    <meta name="description" content="{{.Description}}">
    <meta name="author" content="Simon Couball">
    <meta name="theme-color" content="#000"/>
    <title>{{.Title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item meta">
                <h1>{{.Title}}</h1>
                <h5>{{.Description}}</h5>
            {{ if .Download }}
                <a class="button button-primary"
                   href="/{{ .Dir.GalleryPath }}{{ .Title }}/{{ .Title }}_images.zip">Download</a>
            {{ end }}
                <hr>
            </div>

        {{ range $key,$image := .Images }}
        {{if ( or (eq $key 0) )}}
            <div class="grid-item date">
                <h4>{{$image.Date}}</h4>
            </div>
        {{end}}
        {{if ( and (ne $key 0))}}
        {{ if ne ($image.Date) (index $.Images (minus $key 1)).Date}}
            <div class="grid-item date">
                <hr>
                <h4>{{$image.Date}}</h4>
            </div>
        {{end }}
        {{end}}
            <div class='grid-item {{ if $image.Feature }}feature{{end}}' name="{{$image.Name}}">
                <a class='chocolat-image'
                   title='<a class="button chocolat-button" href="/{{ $.Dir.GalleryPath }}{{ $.Title }}/{{ if $image.Feature }}{{ $.Dir.FeatImgDir }}{{ else }}{{ $.Dir.OrigImgDir }}{{ end }}{{ $image.Name }}" download>DOWNLOAD</a>'
                   href='/{{ $.Dir.GalleryPath }}{{ $.Title }}/{{ $.Dir.PrevImgDir }}prev{{ $image.Name }}'>
                    <img alt="{{ $.Title }}"
                         data-src='/{{ $.Dir.GalleryPath }}{{ $.Title }}/{{ $.Dir.ThumbImgDir }}{{if $image.Feature}}feat{{ else }}thumb{{end}}{{ $image.Name }}'/>
                </a>
            </div>
        {{ end }}

        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="footer">
                    <h6>Copyright &copy; Simon Couball</h6>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>var images = {{.Images}}</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.5.2/lazyload.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chocolat/0.4.19/js/jquery.chocolat.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/index.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chocolat/0.4.19/css/chocolat.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather+Sans:800|Roboto:100,300" >
<link rel="stylesheet" href="/static/css/custom.css">
</body>

</html>