/*<editor-fold desc="grid related classes">*/
.container {
    top: 3em;
    max-width: 1200px;
    width: 95%;
}

.grid-sizer, .grid-item {
    width: 33%;
}

.grid-item {
    float: left;
    margin-bottom: 4px;
}

.grid-item img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
}

.feature {
    width: 66.25%;
}

.feature img {
    min-width: 100%;
    object-fit: cover;
}

.meta {
    width: 100%;
    text-align: center;
}

.date {
    width: 100%;
    text-align: center;
}

/*</editor-fold>*/

/*region style classes*/
a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

h1 {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
}

.date h4 {
    font-weight: 100;
}

* {
    font-family: 'Roboto', sans-serif;
}

.button-primary {
    background-color: #000 !important;
    border-color: #000 !important;
}

.chocolat-button {
    color: #fff;
    border: 1px solid #fff;
    height: 34px;
    margin-top: 3px;
    line-height: 32px;
    padding: 0 14px;
}

.footer {
    text-align: center;
}

/*endregion*/

.chocolat-open {
    overflow: scroll !important;
}

@media screen and (max-width: 450px) {
    .grid-sizer, .grid-item {
        width: 48%;
    }

    .meta {
        width: 100%;
    }

    .feature {
        width: 96.7%;
        max-height: 586px;
    }

    .feature img {
        min-height: 0;
    }

    .date {
        width: 100%;
    }
}